@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600')

h1, h2, h3, h4, h5, h6, p
	margin: 0
	line-height: 1.5


body
	margin: 0
	padding: 0
	font-family: 'Open Sans', arial, sans-serif
	header
		position: relative

		background: url('../img/back.png')
		background-position: center
		background-size: cover
		.head
			width: 100%
			max-width: 1280px
			margin: 0 auto
			display: flex
			justify-content: center
			padding: 68px 0 459px 0
			align-items: center
			img

				width: 40%
				max-width: 227px
				height: auto
		.zip
			padding: 30px 0
			position: absolute
			left: 50%
			transform: translateX(-50%)
			bottom: -115px
			background-color: #ffffff
			box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.28)
			border-radius: 2px
			width: 90%
			max-width: 335px
			display: flex
			flex-direction: column
			align-items: center
			.zip-input
				width: 100%
				display: flex
				justify-content: center
				input
					width: 100%
					max-width: 262px
					box-sizing: border-box
					height: 34px
					box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.09)
					border-radius: 2px
					border: 1px solid rgb(229, 229, 229)
					padding: 10px 15px
				input::placeholder
					color: #b4adad
					font-size: 16px
			.zip-img
				margin: 25px 0
				img
					width: 100%
					height: auto
					display: block
			.zip-text
				padding: 0 20px
				p
					text-align: center
					font-size: 16px
					color: #938e8e
			.zip-btn
				margin: 25px 0 0 0
				button
					border-radius: 2px
					background-color: rgb(34, 125, 211)
					width: 192px
					height: 45px
					font-size: 26px
					color: #ffffff
					text-transform: uppercase
					letter-spacing: 0.1em
	main
		section
			.doc-section
				width: 100%
				max-width: 1280px
				display: flex
				justify-content: space-around
				align-items: center
				flex-wrap: wrap
				margin: 130px auto 110px
				.doc-section-item
					margin: 20px 0
					display: flex
					justify-content: space-between
					align-items: center
					flex-basis: 400px
					padding: 0 20px
					.item-img
						img
							display: block
					.item-text
						margin-left: 30px
						h2
							font-size: 28px
							color: #000000
							font-weight: 600
						p
							font-size: 14px
							color: #4f4e4e
		section.green-1
			background: url('../img/green.png')
			background-repeat: no-repeat
			background-position: center
			background-size: cover
			color: #ffffff
			padding: 100px 0 360px 0
			position: relative
			.main-img
				margin: 0 auto
				z-index: 1
				position: relative
				margin-bottom: -330px
				width: 100%
				height: 500px
				background: url('../img/back-2.png')
				background-position: center
				background-repeat: no-repeat
			.green-1-item
				position: relative
				z-index: 100
				width: 100%
				max-width: 665px
				margin: 0 auto
				padding: 0
				.green-item-text
					position: relative
					z-index: 10000
					display: flex
					flex-direction: column
					align-items: center
					h1
						font-size: 36px
						font-weight: 600
					p
						font-size: 14px
						margin: 0 10px
						&:nth-child(2)
							margin: 30px 10px 50px 10px
							font-weight: 400
		section.green-2
			background: url('../img/green-back.png')
			background-size: cover
			margin-top: -490px
			position: relative
			z-index: 100000
			padding: 500px 0 0 0
			.green-2-wrapper
				width: 100%
				max-width: 1280px
				margin: 0 auto
				display: flex
				justify-content: space-between
				.green-2-img
					flex-basis: 40%
					img
						width: 100%
						max-width: 505px
						height: auto
				.green-2-text
					flex-basis:  60%
					color: #ffffff
					display: flex
					flex-direction: column
					align-items: flex-start
					h1
						font-size: 36px
						font-weight: 600
						margin: 0 10px
					p
						font-size: 14px
						margin: 0 10px
		section.map
			width: 100%
			max-width: 1280px
			margin: 0 auto
			position: relative
			background: url('../img/map.png')
			background-size: cover
			padding: 100px 0
			.pop-up
				width: 100%
				max-width: 340px
				height: 340px
				margin: 0 auto
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				border-radius: 50%
				background-color: #ffffff
				input
					width: 100%
					max-width: 200px
					box-sizing: border-box
					height: 34px
					box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.09)
					border-radius: 2px
					border: 1px solid rgb(229, 229, 229)
					padding: 10px 15px
					margin-bottom: 15px
				input::placeholder
					color: #b4adad
					font-size: 16px
				textarea
					width: 100%
					max-width: 200px
					resize: none
					box-sizing: border-box
					height: 80px
					box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.09)
					border-radius: 2px
					border: 1px solid rgb(229, 229, 229)
					padding: 10px 15px
				textarea::placeholder
					color: #b4adad
					font-size: 16px
				button
					height: 50px
					width: 50px
					padding: 0
					background: transparent
					border: none
					margin-top: 15px
	footer
		background-color: #44a36e
		color: #ffffff
		font-size: 12px
		text-align: center
		padding: 10px 0


@media screen and (max-width: 410px)
	.item-text p
		font-size: 12px!important
	.pop-up
		width: 320px!important
		height: 320px!important


@media screen and (max-width: 879px)
	.doc-section
		margin-bottom: 20px!important
	.green-2-wrapper
		flex-direction: column!important
		align-items: center!important
	.green-2-img img
		margin-left: -22%!important
	.green-2-text
		margin-top: -185px!important
	.green-2
		padding-top: 300px!important
		padding-bottom: 20px!important
		margin-top: -560px!important
